@model IEnumerable<Product>

<div class="col-lg-12 col-md-8">
    <div>
        <div class="col-12 pb-1">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="ml-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Xếp theo</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" asp-controller="Home" asp-action="ByBrand">Thương hiệu</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="ByCategory">Loại sản phẩm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @foreach (var category in ViewBag.Categories)
        {
            <div>
                <h2>@category.Name</h2>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Where(i => i.Category.Name.Equals(category.Name)))
                        {
                            <div class="swiper-slide">
                                <div class="product-item bg-light mb-4 rounded">
                                    <div class="product-img position-relative overflow-hidden text-center">
                                        <img class="img-fluid rounded" src="@item.Image" alt="@item.Image" style="width: 175px; height: 175px; object-fit: fill;">
                                        <div class="product-action">
                                            <a asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@item.Id" class="btn btn-primary rounded"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a asp-controller="Home" asp-action="Details" asp-route-Id="@item.Id" title="@item.Name"><p class="h6 text-decoration-none text-truncate">@item.Name</p></a><br /><br />
                                        <p class="p text-decoration-none text-truncate">Danh Mục: @item.Category.Name</p>
                                        <p class="p text-decoration-none text-truncate">Nhãn Hiệu: @item.Brand.Name</p>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                    @using System.Globalization
                                            @{
                                                var vietnamCulture = new CultureInfo("vi-VN");
                                                var formattedPrice = item.Price.ToString("c", vietnamCulture);
                                            }
                                            <p>@formattedPrice</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center mb-1">
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small class="fa fa-star text-primary mr-1"></small>
                                            <small>(99)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Navigation -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var swipers = document.querySelectorAll('.swiper-container');
            swipers.forEach(function (swiperContainer) {
                new Swiper(swiperContainer, {
                    slidesPerView: 1,
                    spaceBetween: 10,
                    pagination: {
                        el: swiperContainer.querySelector('.swiper-pagination'),
                        clickable: true,
                    },
                    navigation: {
                        nextEl: swiperContainer.querySelector('.swiper-button-next'),
                        prevEl: swiperContainer.querySelector('.swiper-button-prev'),
                    },
                    breakpoints: {
                        640: {
                            slidesPerView: 2,
                            spaceBetween: 20,
                        },
                        768: {
                            slidesPerView: 4,
                            spaceBetween: 40,
                        },
                        1024: {
                            slidesPerView: 6,
                            spaceBetween: 50,
                        },
                    },
                });
            });
        });
    </script>
}
