@model dangNhapDangKy.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container mt-5 mb-5 detail">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image">
                        <img class="rounded" src="@Model.Image" id="main_product_image" width="350">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>@Model.Name</h3>
                        <span class="heart"><i class='bx bx-heart'></i></span>
                    </div>
                    <div class="mt-2 pr-3 content">
                        <p>@Model.Description</p>
                    </div>
                    <h3>
                        @using System.Globalization
                        @{
                            var vietnamCulture = new CultureInfo("vi-VN");
                            var formattedPrice = Model.Price.ToString("c", vietnamCulture);
                        }
                        <p>@formattedPrice</p>
                    </h3>
                    <div class="ratings d-flex flex-row align-items-center">
                        <div class="d-flex flex-row">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <span>99 reviews</span>
                    </div>
                    
                    <div class="buttons d-flex flex-row mt-5 gap-3">
                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@Model.Id"><button type="button" class="btn btn-dark rounded">Thêm vào Giỏ hàng</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function changeImage(element) {
            var main_product_image = document.getElementById("main_product_image");
            main_product_image.src = element.src;
        }
    </script>
}
