@model IEnumerable<dangNhapDangKy.Models.Order>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>Orders</h1>

<form method="get" class="d-flex justify-content-around">
    <div>
        <div class="form-group">
            <label for="searchString">Search by Name</label>
            <input type="text" name="searchString" id="searchString" value="@ViewData["CurrentFilter"]" class="form-control" />
        </div>
        <div class="form-group">
            <label for="phoneNumber">Search by Phone Number</label>
            <input type="text" name="phoneNumber" id="phoneNumber" value="@ViewData["CurrentPhoneFilter"]" class="form-control" />
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" id="startDate" value="@ViewData["StartDate"]" class="form-control" />
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" name="endDate" id="endDate" value="@ViewData["EndDate"]" class="form-control" />
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Apply Filters</button>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Full Name</a>
            </th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Total Price</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Order Date</a>
            </th>
            <th>Order Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>@item.TotalPrice.ToString("c")</td>
                <td>@item.OrderDate</td>
                <td>@item.GetOrderStatus()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-info">Details</button></a>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-success">Edit</button></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>